 {% extends "JetApp/index.html" %} {% block content %} {% load static %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

<!-- {% if img_obj %}
<h3>Succesfully uploaded : {{img_obj.title}}</h3>
<img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px"> {% endif %} -->

<!-- Basic Validation -->
<!-- <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <p>Employee Form</p>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <form action="" method="POST" autocapitalize="off">
                    {% csrf_token %}
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="name" required>
                            <label class="form-label">Name</label>

                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="surname" required>
                            <label class="form-label">Surname</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="surname" required>
                            <label class="form-label">Gender</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="department" required>
                            <label class="form-label">Department</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="department" required>
                            <label class="form-label">City</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="department" required>
                            <label class="form-label">Position</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" required>
                            <label class="form-label">Email</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="file" name="myfile">
                        </div>
                    </div> -->
<!-- <div class="form-group">
                            <input type="radio" name="gender" id="male" class="with-gap">
                            <label for="male">Male</label>

                            <input type="radio" name="gender" id="female" class="with-gap">
                            <label for="female" class="m-l-20">Female</label>
                        </div> -->
<!-- <div class="form-group form-float">
                            <div class="form-line">
                                <textarea name="description" cols="30" rows="5" class="form-control no-resize" required></textarea>
                                <label class="form-label">Description</label>
                            </div>
                        </div> -->

<!-- <div class="form-group">
                        <input type="checkbox" id="checkbox" name="checkbox">
                        <label for="checkbox">I have read and accept the terms</label>
                    </div> -->
<!-- <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button> -->


<!-- 
                    <div class="row">
                        <div class="col-md-8">
                            <button type="submit" class="btn btn-primary waves-effect"><i class="fa-solid fa-database"></i> Submit</button>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'Employee_list' %}" class="btn btn-secondary btn-block btn-lg">
                                <i class="fas fa-stream"></i>Back to the list</a>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div> -->


{% endblock content %}