{% load static %}

<!-- <script type="text/javascript" src="js/mdb.min.js"></script> -->

<!-- Jquery Core Js -->
<script src="{% static 'plugins/jquery/jquery.min.js' %} "></script>

<!-- Bootstrap Core Js -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.js' %} "></script>

<!-- Select Plugin Js -->
<script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %} "></script>

<!-- Slimscroll Plugin Js -->
<script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js' %} "></script>

<!-- Waves Effect Plugin Js -->
<script src="{% static 'plugins/node-waves/waves.js' %} "></script>

<!-- Jquery CountTo Plugin Js -->
<script src="{% static 'plugins/jquery-countto/jquery.countTo.js' %} "></script>

<!-- Morris Plugin Js -->
<script src="{% static 'plugins/raphael/raphael.min.js' %} "></script>
<script src="{% static 'plugins/morrisjs/morris.js' %} "></script>

<!-- ChartJs -->
<script src="{% static 'plugins/chartjs/Chart.bundle.js' %} "></script>

<!-- Flot Charts Plugin Js -->
<script src="{% static 'plugins/flot-charts/jquery.flot.js' %} "></script>
<script src="{% static 'plugins/flot-charts/jquery.flot.resize.js' %} "></script>
<script src="{% static 'lugins/flot-charts/jquery.flot.pie.js' %} "></script>
<script src="{% static 'plugins/flot-charts/jquery.flot.categories.js' %} "></script>
<script src="{% static 'plugins/flot-charts/jquery.flot.time.js' %} "></script>

<!-- Sparkline Chart Plugin Js -->
<script src="{% static 'plugins/jquery-sparkline/jquery.sparkline.js' %} "></script>

<!-- Custom Js -->
<script src="{% static 'js/admin.js' %} "></script>
<script src="{% static 'js/pages/index.js ' %} "></script>

<!-- Demo Js -->
<script src="{% static 'js/demo.js ' %} "></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script> -->